    body {
        font-family: 'Roboto Mono', monospace;
        margin: 0%;
        padding: 0px;
    }

    .line1 {
        text-align: center;
        padding-bottom: 5%;

    }

    h1 {
        font-size: 70px;
        color: white;
        padding-top: 100px;
    }

    p {
        color: white;
        font-weight: 550;
        margin-top: -100px;
    }

    #don {
        color: black;
        font-size: 20px;
        margin-top: -50px;
    }

    .black {
        font-size: 50px;
        color: black;
    }

    .first {
        background-image: url("images/donation13.jpg");
        background-repeat: no-repeat;
        background-size: 100%;

    }

    .donate {
        color: white;
        padding: 15px;
        font-weight: 550;
        text-decoration: none;
        background-color: rgb(228, 11, 11);
        border-radius: 10px;
    }

    .second {
        text-align: center;
    }

    .flex {
        display: flex;
        justify-content: space-evenly;
        margin-left: 15%;
        margin-right: 15%;
    }

    .box {
        border-radius: 5%;
        font-size: 25px;
        padding: 1%;
        background-color: rgb(244, 243, 239);
    }

    .border {
        border-style: solid;
        border-color: orangered;
        color: orangered;
        background-color: rgb(231, 217, 217);
    }

    .ammount {
        margin: 50px;
    }

    hr {
        border-color: wheat;
        border-radius: 5px;
        height: 0px;
        width: 70%;

    }

    .container {
        display: flex;
        justify-content: space-evenly;
        margin-left: 30%;
        margin-right: 30%;
    }

    .para {
        color: black;

    }

    h2 {
        color: black;

    }
    .boro{
        font-size: 40px;
        
    }

    #food {
        background-color: lightblue;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 10px;
        margin-right: 2%;
        margin-left: 60%;

    }

    #shelter {
        background-color: lightpink;
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 10px;
        margin-right: 2%;


    }

    #education {
        background-color: rgb(232, 209, 200);
        padding-right: 20px;
        padding-left: 20px;
        border-radius: 10px;
        margin-right: 60%;

    }

    .soja {
        height: 70px;
        width: 350px;
        margin: 10px;
        padding: 10px;

    }

    .flood {
        display: flex;
        justify-content: space-evenly;
        ;
    }

    .half {
        width: 50%;
        padding: 5%;
        margin-left: 5%;


    }

    .half img {
        width: 95%
    }

.email{
    background-image: url(images/pink.jpg);
    background-repeat: no-repeat;
    background-size: 300px 100px;
    background-position: center;
    padding-top: 5%;

}
 


.sub{
    color:white;
    background-color:rgb(188, 41, 41);
    border-radius: 5px;
    border-width: 10px;
    border-color: rgb(188, 41, 41);
}

    footer {
        background-color: rgb(23, 22, 22);
        text-align: center;
    }

    #red {
        color: rgb(197, 78, 78);
        padding-top: 5%;
        font-style: italic;
    }

    #white {
        color: white;
        padding-bottom: 2%;

    }